services:
  backend:
    build: .
    ports:
      - "8080:8080"
    networks:
      - student-app

  frontend:
    build:
      context: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - student-app
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf

networks:
  student-app:
    driver: bridge
